.header {
    position: fixed;
}
.hero-section {
    background: url('../images/hero.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-section {
    background: url('../images/hero.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    padding: 20%;
}
